<%= form_for(@litter) do |f| %>
  <% if @litter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@litter.errors.count, "error") %> prohibited this litter from being saved:</h2>

      <ul>
      <% @litter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pregnancy %><br>
    <%= f.text_field :pregnancy %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :survival %><br>
    <%= f.text_field :survival %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
