<h1>Listing litters</h1>

<table>
  <thead>
    <tr>
      <th>Pregnancy</th>
      <th>Gender</th>
      <th>Color</th>
      <th>Survival</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @litters.each do |litter| %>
      <tr>
        <td><%= litter.pregnancy %></td>
        <td><%= litter.gender %></td>
        <td><%= litter.color %></td>
        <td><%= litter.survival %></td>
        <td><%= link_to 'Show', litter %></td>
        <td><%= link_to 'Edit', edit_litter_path(litter) %></td>
        <td><%= link_to 'Destroy', litter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Litter', new_litter_path %>
