<%= form_for(@pregnancy) do |f| %>
  <% if @pregnancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pregnancy.errors.count, "error") %> prohibited this pregnancy from being saved:</h2>

      <ul>
      <% @pregnancy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dog %><br>
    <%= f.text_field :dog %>
  </div>
  <div class="field">
    <%= f.label :heat_start_date %><br>
    <%= f.date_select :heat_start_date %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :surgery_date %><br>
    <%= f.date_select :surgery_date %>
  </div>
  <div class="field">
    <%= f.label :total_puppy %><br>
    <%= f.number_field :total_puppy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
