<p id="notice"><%= notice %></p>

<p>
  <strong>Dog:</strong>
  <%= @pregnancy.dog %>
</p>

<p>
  <strong>Heat start date:</strong>
  <%= @pregnancy.heat_start_date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @pregnancy.due_date %>
</p>

<p>
  <strong>Surgery date:</strong>
  <%= @pregnancy.surgery_date %>
</p>

<p>
  <strong>Total puppy:</strong>
  <%= @pregnancy.total_puppy %>
</p>

<%= link_to 'Edit', edit_pregnancy_path(@pregnancy) %> |
<%= link_to 'Back', pregnancies_path %>
