<div class="root">
  <div class="row">
      <div class="span12">
          <div class="grey-box">
          <h1>Listing payments</h1>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Sale</th>
                <th>Payment type</th>
                <th>Payment date</th>
                <th>Payment status</th>
                <th>Amount</th>
                <th>Note</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @payments.each do |payment| %>
                <tr>
                  <td><%= payment.sale.dog.call_name %></td>
                  <td><%= payment.payment_type.name %></td>
                  <td><%= payment.payment_date %></td>
                  <td><%= payment.payment_status.name %></td>
                  <td><%= number_to_currency(payment.amount, :locale=>'zh-TW')%></td>
                  <td><%= payment.note %></td>
                  <td><%= link_to 'Show', payment %></td>
                  <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
                  <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>

          <%= link_to 'New Payment', new_payment_path %>
      </div>
    </div>
  </div>
</div>