<div class="root">
  <div class="row">
      <div class="span12">
          <div class="grey-box">
          <h1>Listing payment_types</h1>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @payment_types.each do |payment_type| %>
                <tr>
                  <td><%= payment_type.name %></td>
                  <td><%= payment_type.description %></td>
                  <td><%= link_to 'Show', payment_type %></td>
                  <td><%= link_to 'Edit', edit_payment_type_path(payment_type) %></td>
                  <td><%= link_to 'Destroy', payment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>

          <%= link_to 'New Payment type', new_payment_type_path %>
        </div>      
      </div>
  </div>
</div>