<%= nested_form_for(@show_entry, :html => {:multipart => true}) do |f| %>
  <% if @show_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show_entry.errors.count, "error") %> prohibited this show_entry from being saved:</h2>

      <ul>
      <% @show_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :dog %>
    <div class="controls">
      <%= f.select(:dog_id, Dog.all.map{|c| [c.name, c.id]}, :include_blank => "Select a Dog") %>
    </div>
    
  </div>
  <div class="control-group">
    <%= f.label :show %>
    <div class="controls">
      <%= f.select(:show_id, Show.all.map{|s| [(s.name + "-" + s.kennel_club), s.id]}, include_blank: 'Select a new Show') %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :show_date %>
    <div class="control">
      <%= f.date_select :show_date %>
      <%#= f.date_field :show_date  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :entry_fee %>
    <div class="controls">
      <%= f.text_field :entry_fee %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :handling_fee %>
    <div class="controls">
      <%= f.text_field :handling_fee %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :points %>
    <div class="controls">
      <%= f.number_field :points %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :expense %>
    <div class="controls">
      <%= f.text_field :expense %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reg_class %>
    <div class="controls">
      <%= f.text_field :reg_class %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :judge %>
    <div class="controls">
      <%= f.text_field :judge %>
    </div>
  </div>
   <div class="control-group">
    <%= f.fields_for :pictures do |p| %>
      <%= image_tag(p.object.file.url, height: 200, width: 200)%>
      <%= p.label :file %>
      <div class="controls">
        <%= p.file_field :file %>
        <%= p.link_to_remove t('.remove_image') %>
      </div>
    <% end %>
    <%= f.link_to_add t('.add_image'), :pictures %>
  </div> 
  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
